* {
    color: #000;
    font-family: 'Arial';
    transition: all 0.3s ease;
}

button {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #333;
}

button:hover {
    text-decoration: underline;
    color: #BA967D;
}

button::before {
    content: "————————";
    min-width: 120px;
    max-height: 2px;
    font-size: 20px;
    letter-spacing: -1%;
    color: #BA967D;
    margin-right: 20px;
}

h1 {
    font-weight: 400;
    font-size: 110px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #333;
    font-family: 'DM Serif Text';
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #333;
    font-family: 'DM Serif Text';
}

h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #333;
    font-family: 'DM Serif Text';
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;  
    color: #333;
    font-family: 'DM Serif Text';
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #333;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #333;
}

a:hover {
    color: #BA967D;
    text-decoration: underline;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.istina-right-caption {
    margin-bottom: 225px;
}




header {
    height: 40px;
    position: fixed;
    padding: 60px 0;
    font-family: 'Arial' !important;
    width: 100%;
    z-index: 10;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 55px;
}

.header-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.header-catalog_option {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333;
}

.header-logo {
    fill: #333;
}

.header-logo:hover {
    cursor: pointer;
    fill: #BA967D;
    transform: scale(1.1);
}

.header-burger-icon {
    fill: #333;
}

.header-burger-icon:hover {
    cursor: pointer;
    fill: #BA967D;
    transform: scale(1.1);
}



.Fblock {
    background-image: url(../img/FBlock_back.png);
    background-position: center;
    background-size: cover;
}

.Fblock_container {
    position: relative;
    width: 100%;
    height: 780px;
}

.Fblock_container p {
    width: 70%;
}

.Fblock-img {
    position: absolute;
    top: 0;
    right: 95px;
    height: 100%;
    width: auto;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    z-index: 2;
}

.Fblock-title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 245px 0;
    max-width: 600px;
    margin-left: 200px;
    gap: 19px;
}

.Fblock-title button {
    margin-top: 20px;
}

.comfort-citate {
    font-weight: 400;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0%;
}

.comfort-content {
    display: flex;
    gap: 60px;
    margin-top: 120px;
}

.comfort-content img {
    width: 40vw;
    height: fit-content;
}

.comfort-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
}

.comfort-text button {
    width: 370px;
}






.istina_img {
    width: 90%;
    position: absolute;
    left: 0;
    z-index: -3;
    height: 600px;
}

.istina-right {
    padding-top: 16vw;
}

.istina-container {
    display: flex;
    gap: 6%;
}

.istina-left {
    padding-top: 101px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.istina p {
    color: #fff;
}

.istina-left h2 {
    color: #fff;
    margin-bottom: 45px;
}

.istina-item img {
    margin-bottom: 40px;
}

.istina-right-caption {
    margin-bottom: 30%;
    margin-right: 25%;
    height: fit-content;
}

.istina-item {
    height: fit-content;
}

.istina-item-1 img {
    width: 360px;
}

.istina-item-2 img {
    width: 439px;
}

.istina-item h3 {
    margin-bottom: 28px;
}

.istina-item p {
    color: #333;
}




.collection h2 {
    margin-bottom: 46px;
}

.collection-list {
    display: flex;
    gap: 40px;
}

.collection-item {
    min-width: 280px;
    max-width: 280px;
    overflow: hidden;
    box-shadow: 0px 10px 50px 0px #00000014;
    border-radius: 10px;
}

.collection-item img {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.collection-item h4 {
    margin: 17px 20px;
    margin-bottom: 4px;
}

.collection-item p {
    margin: 0px 20px;
    margin-bottom: auto;
    color: #333;
}

.collection-item-bottom {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    margin-top: 30px;
}

.collection-item-bottom p {
    margin: 0;
    font-size: 18px;
}





.giza45-left {
    width: 50%;
}

.giza45-right {
    width: 50%;
    margin-top: 50px;
}

.giza45-container {
    display: flex;
}

.giza45-pc_img {
    width: 70%;
    margin-top: 46px;
    height: fit-content;
}

.giza45-mobile_img {
    display: none;
}

.giza45-right p {
    margin-bottom: 100px;
}

.giza45-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.giza45-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 45%;
    justify-content: space-between;
    column-gap: 43px;
}

.giza45-item h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #BA967D;
}


.owners {
    background-image: url(../img/owner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 650px;
}

.owners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    height: 100%;
    gap: 10px;
}

.owners h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #fff;
}

.owners h4 {
    color: #fff;
}

.owners p {
    color: #fff;
    opacity: 0.8;
}

.priv h2 {
    margin-bottom: 53px;
}

.priv-content {
    display: flex;
    justify-content: space-between;
}

.priv-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.product-container h2 {
    margin-bottom: 11px;
}

.product-container {
    display: flex;
    gap: 40px;
}

.product-left, .product-center, .product-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.product-item {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px #0000001A;
    padding: 20px;
}

.product-item-center {
    margin-top: 179px;
    height: 640px;
}

.product-item h4 {
    color: #fff;
}

.product-item-1 {
    background-image: url(../img/product_1.png);
    background-position: center;
    background-size: cover;
}

.product-item-2 {
    background-image: url(../img/product_2.png);
    background-position: center;
    background-size: cover;
}

.product-item-3 {
    background-image: url(../img/product_3.png);
    background-position: center;
    background-size: cover;
}

.product-item-4 {
    background-image: url(../img/product_4.png);
    background-position: center;
    background-size: cover;
}

.product-item-5 {
    background-image: url(../img/product_5.png);
    background-position: center;
    background-size: cover;
}

.form {
    background-image: url(../img/form.png);
    background-position: center;
    background-size: cover;
}

.form-container {
    height: 551px;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form h2 {
    color: #fff;
    margin-bottom: 30px;
}

.form p {
    color: #fff;
    margin-bottom: 42px
}

.form-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-form input {
    width: 360px;
    height: 50px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.form-form button {
    background-color: #BA967D;
    border-radius: 5px;
    color: #fff;
    height: 50px;
}

.form-form button::before {
    content: none;
}

footer {
    background-color: #222;
    padding: 69px 0;
}

footer a {
    color: #fff;
}

footer p {
    color: #fff;
    opacity: 0.5;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    gap: 50px;
}

.footer-logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-logo svg {
    margin-bottom: 60px;
}

.footer-logo a {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.footer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-copyright {
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 1360px) {
    .container {
        padding: 0 32px;
    }

    .Fblock-img {
        display: none;
    }

    .Fblock {
        height: 95vh;
        background-image: url(../img/Fblock.png);
    }

    .Fblock_container {
        height: 100%;
    }

    .Fblock-title {
        height: 100%;
    }

    .Fblock-title {
        padding: 30vh 0;
        margin-left: 0;
        transition: all 0.3s ease-in-out;
    }

    .Fblock-title h1 {
        color: #fff;
    }

    .Fblock-title p {
        color: #fff;
    }

    .Fblock-title button {
        color: #fff;
    }

    .header-overlay::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
        z-index: -1;
    }

    .header-logo {
        fill: #fff;
    }
    
    .header-burger-icon {
        fill: #fff;
    }

    .header-catalog_option {
        color: #fff;
    }

    .header-number {
        color: #fff;
    }
}

@media (max-width: 768px) {
    h1 {
        font-weight: 400;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: 0%;
        vertical-align: middle;
    }

    h2 {
        font-weight: 400 !important;
        font-size: 40px !important;
        line-height: 50px !important;
        letter-spacing: 0% !important;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0%;
    }

    header {
        padding: 30px 0;
    }

    .header-catalog_option {
        display: none;
    }

    .header-number {
        display: none;
    }

    button::before {
        content: "—————";
        min-width: 120px;
        max-height: 2px;
        font-size: 20px;
        letter-spacing: -1%;
        color: #BA967D;
        margin-right: 20px;
    }

    .comfort-content img {
        width: 50vw;
        position: absolute;
        left: -50px;
    }

    .comfort-text {
        margin-left: 42vw;
    }

    .comfort-text button {
        width: 305px;
    }

    .istina_img {
        width: 96vw;
        height: 500px;
    }

    .istina-left {
        padding-left: 0;
        width: 50%;
    }

    .istina-right {
        padding-top: 230px;
        width: 50%;
    }

    .giza45-container {
        flex-direction: column;
    }

    .giza45-pc_img {
        display: none;
    }

    .giza45-left {
        width: 100%;
    }

    .giza45-right {
        width: 100%;
    }

    .giza45-right p {
        margin-bottom: 40px;
    }

    .owners {
        height: 470px;
    }

    .owners h1 {
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0%;
    }

    .priv-content {
        flex-direction: column;
        gap: 65px;
    }

    .priv-item {
        width: 90%;
    }

    .product-container {
        flex-direction: column;
    }

    .product-left {
        flex-direction: row;
    }

    .product-item-center {
        margin-top: 0;
        height: 300px;
    }

    .product-right {
        flex-direction: row;
    }

    .form-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-form input, .form-form button {
        max-width: 360px;
        width: 100%;
    }

    footer {
        padding: 39px 0;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
    }

    .footer-logo svg {
        margin-bottom: 28px;
    }

    .footer-copyright {
        display: none;
    }
}

@media (max-width: 375px) {
    h1 {
        font-weight: 400;
        font-size: 48px;
        line-height: 50px;
        letter-spacing: 0%;
        vertical-align: middle; 
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0%;
    }

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;        
    }

    button::before {
        content: "———";
        min-width: 120px;
        max-height: 2px;
        font-size: 20px;
        letter-spacing: -1%;
        color: #BA967D;
        margin-right: 20px;
    }

    main {
        gap: 111px;
    }

    .comfort-citate {
        margin-bottom: 160px;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: 0%;
    }

    .comfort-content img {
        display: none;
    }

    .comfort-text {
        margin-left: 0;
    }

    .istina-right-caption {
        display: none;
    }

    .istina-container {
        flex-direction: column;
    }

    .istina-left {
        width: 100%;
    }

    .istina-right {
        padding-top: 40px;
        width: 100%;
    }

    .istina-item img {
        margin-bottom: 20px;
    }

    .istina-item h3 {
        margin-bottom: 20px;
    }

    .product-left {
        flex-direction: column;
    }

    .product-right {
        flex-direction: column;
    }
}